<div class="header">
	<h2>Introduction</h2>	
</div>

<nav>
	<!-- <a class="prev" routerLink="/topic1" routerLinkActive="active">&lt;&lt;</a> -->
	<a class="next" routerLink="/topic2" routerLinkActive="active">&gt;&gt;</a>
</nav>

<div class="pad-3">
	<br>
	<br>
	<p>
		When a user enters a web application or website, routing is their means of navigating throughout the application. 
		To change from one view to another, the user clicks on the available links on a page.
	</p>
	<p>
		Angular provides a Router to make it easier to define routes for the web applications 
		and to navigate from one view to another view in the application.
	</p>
	<p>
		Topics we will be discussing:
	</p>

	<ul>
		<li><b>Router Module</b></li><br>
		<li><b>The RouterLink directive</b></li><br>
		<li><b>The &lt;router-outlet&gt; element</b></li><br>
		<li><b>Types of Routes</b></li><br>
	</ul>
</div>


