<div class="header">
	<h2>Types of Routes</h2>	
</div>

<nav>
	<a class="prev" routerLink="/topic3"  routerLinkActive="active">&lt;&lt;</a>
	<a class="next" routerLink="/topic4b" routerLinkActive="active">&gt;&gt;</a>
</nav>

<div class="pad-3">
	<br>
	<h4>There are serveral types of routes:</h4>

	<ul>
		<li><b>Active routes</b></li><br>
		<li><b>Child routes</b></li><br>
		<li><b>Parameterized routes</b></li><br>
		<li><b>Wildcard routes</b></li><br>
		<li><b>Guarded routes</b></li><br>
	</ul>	
</div>

