<div class="header">
	<h2>Types of Routes - Parameterized</h2>	
</div>

<nav>
	<a class="prev" routerLink="/topic4c" routerLinkActive="active">&lt;&lt;</a>
	<a class="next" routerLink="/topic4e" routerLinkActive="active">&gt;&gt;</a>
</nav>

<div class="pad-3">
	<br>
	<h4>Parameterized routes</h4>

	<pre>path: 'detail/:id', component: HeroDetailComponent</pre>

	<p>const id = +this.route.snapshot.paramMap.get('id');</p>
	
	<p>
		The route.snapshot is a static image of the route information shortly after the component was created.
		The paramMap is a dictionary of route parameter values extracted from the URL. The "id" key returns the id of the hero to fetch.
		Route parameters are always strings. The JavaScript (+) operator converts the string to a number, which is what a hero id should be.
	</p>

	<p>localhost:4200/hero/15</p>

	<p>
		How does the target HeroDetailComponent learn about that id? Don't analyze the URL. Let the router do it.
		The router extracts the route parameter (id:15) from the URL and supplies it to the HeroDetailComponent via the ActivatedRoute service.
	</p>
		
</div>

