<div class="header">
	<h2>Types of Routes - Child</h2>	
</div>

<nav>
	<a class="prev" routerLink="/topic4b" routerLinkActive="active">&lt;&lt;</a>
	<a class="next" routerLink="/topic4d" routerLinkActive="active">&gt;&gt;</a>
</nav>

<div class="pad-3">

	<br>
	<h3>These are some types I ran out of time to explore and explain:</h3>

	<ul>
		<li><h3>Child routes</h3></li>

		<li><h3>Redirected routes</h3></li>

		<li><h3>Componentless routes</h3></li>

		<li><h3>Asynchronous routes</h3></li>
	</ul>

	<br>
	<p>As with all things Angular, these and all the other concepts will take quite a while to digest and try out!</p>

</div>

