<div class="header">
	<h2>About this app<span class="logo"></span></h2>	
</div>

<div class="pad-3">
	<br>
	<h4>Presentation for Front End Developer Class - Jan 10, 2019</h4>
	<p><i>Eric Rinella - Instructor and Benevolent Leader</i></p>

	<br>
	<p>
		This app is about Angular Routing. It is written as a true Angular app which uses routing to demonstrate routing :)
	</p>
	<p>
		All navigation in this small app is accomplished using routing and the browser history.
	</p>
	<p>
		While researching the topic of Angular routing, I explored several third-party tutorials and the Angular
		documentation itself. I used this project not only to learn more about routing but to also experience all that 
		goes into assembling an actual Angular app (angular-cli, components, modules, etc.) and the logistics involved.
	</p>
	<p>
		I decided to use what I was learning to put together an Angular app for the experience and the gotchas.
		Due to time constraints I was not able to demonstrate all that I wanted but I will most likely add to this 
		presentation at a later time and polish it up a bit more.
	</p>
</div>
